@import "variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: var(--background-primary);
  color: var(--text-primary);

  padding: 60px;
  padding-top: 23px;
}

.logo {
  text-align: center;
}
